<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text center">Add product</h2>
                <form action="/admin/add-product" enctype="multipart/form-data" method="post">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control">
                   <label for="">category</label> 
                    {{!-- <input type="text" name="category" class="form-control">  --}}
                    <select class="form-select form-select-sm mt-3" name="category" >
                  <option hidden disabled selected></option>
                  {{#each categories}}
                  <option value="{{this.category}}">{{this.category}}</option>
                  {{/each}}
                 </select>
                    <label for="">price</label>
                    <input type="text" name="price" class="form-control">
                    <label for="">stock</label>
                    <input type="number" name="stock" class="form-control">
                    <label for="">description</label>
                    <input type="text" name="description" class="form-control">
                    <label for="">image</label>
                    <input type="file" name="image" class="form-control">
                    <button type="submit" class="btn btn-success mt-4">submit</button>

                </form>
            </div>
        </div>
    </div>
</section>