       <section>
          <div class="container">
            <div class="row">
              <div class="col-md-6 mt-5">
                <h2 class="text-center text-primary mt-2">Add a Coupon</h2>
                <form action="/admin/coupon-management" method="post" enctype="multipart/form-data">
                  <label for="">coupon</label>
                  <input type="text" name="coupon" class="form-control" required>
                  <label for="">value</label>
                  <input type="text" name="value" class="form-control" required>
                  <button type="submit" class="btn btn-success mt-4 mb-4">SUBMIT</button>
                </form>
              </div>
            </div>
          </div>
        </section>