<section>
  <div class="container mt-2 mb-3">
    <h1 class="text-center">Category sales</h1>
  </div>
<div class="container mt-3 mb-2" style="width: 40%; height:20%">
  <canvas id="myChart2"></canvas>
</div>

</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart2');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['sun-glass','eye-lens','plain-glass' ],
      datasets: [{
        label: '# of Votes',
        data: [{{categorySales.[0].totalSales}},{{categorySales.[1].totalSales}},{{categorySales.[2].totalSales}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>