<section>
<div class="row">
    <div class="container mt-5 mb-5">
        <div class="col-md-12 text-center" >
            <h1 class="text-center">order placed succesfully</h1>
           
        </div>
        <div class="col-md-12 text-center mb-5 mt-5">
             <a href="/view-orders" class="btn btn-primary " style="color: azure;">View orders</a>
        </div>
    </div>
</div>
</section>


