<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PayPal Node App</title>
</head>
<body>
  <h1>  </h1>
  <div class="container mt-5 mb-5 text-center">
  <h2>paypal</h2>
  <br>
  <form action="/pay2" method="post">
    <input type="submit" value="Buy">
  </form>
  <br><br><br><br>
  </div>
</body>
</html>